{% extends "account.html" %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags_account %}

{% block body %}
    <section class="grid w-full h-[100vh] place-items-center p-4">
        <div class="bg-white shadow-custom-y max-w-lg w-full h-auto">
            <div class="flex p-3 items-center ">
                <button onclick="history.back()" href="{% url "user_profile:edit_profile"%}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="2A3D66"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
                </button>
                <h1 class="text-xl font-semibold">Ubah password</h1>
            </div>
            <br>
            <div class="pl-6 pr-6 ">
                <form action="" class="grid gap-4" method="POST" id="form">
                    {% csrf_token %}
                    <div>
                        {{ fields.old_password|add_class:"w-full border-primary-navyblue border-2 rounded-md  field" }}
                        {% for error in fields.old_password.errors %}
                            <span class="text-red-600 text-sm">{% translate_error error %}</span>
                        {% endfor %}
                    </div>
                    <div>
                        {{ fields.new_password1|add_class:"w-full border-primary-navyblue border-2 rounded-md  field" }}
                        <li class="text-sm " id="minLengthValidatePassword">Password baru minimal 8 karakter</li>
                    </div>
                    <div>
                        {{ fields.new_password2|add_class:"w-full border-primary-navyblue border-2 rounded-md field" }}
                        {% for error in fields.new_password2.errors  %}
                            <span class="text-red-600 text-sm">{% translate_error error %}</span>
                        {% endfor %}
                    </div>
                    <a href="{% url "accounts:password_reset" %}" class="text-sm ">Lupa password ? </a>
                    <button class="bg-primary-navyblue text-white h-9 rounded-md opacity-60" id="submitButton" disabled>Ubah password </button>

                </form>
            </div>
            <br>
        </div>
    </section>
{% endblock body %}

{% block end_body %}
    <script src="{% static "accounts/js/change_password.js" %}"></script>
{% endblock end_body %}






