{% extends "account.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
    <section class="h-[100vh] grid place-items-center 0">   
        <div class="bg-white shadow-2xl sha w-[70%] md:w-[45%] lg:w-[30%] h-96 rounded-md">
            <div class=" h-10 flex items-center pl-4">
                <a href="{% url "landing:home" %}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#2A3D66"><path d="M384-96 0-480l384-384 68 68-316 316 316 316-68 68Z"/></svg>
                </a>
                <h1 class="text-xl font-semibold text-primary-navyblue">Sign in</h1>
            </div>
            <div>
                <img src={% static "img/jokehub2-logo.png" %} alt="JokeHub Logo" class="h-7 md:h-14 mx-auto">
            </div>
            <div class="p-4">
                <form action="" id="form" method="POST">
                    {% csrf_token %}
                    <div class="grid gap-5 pb-6">
                        <div>
                            {{ form.email|add_class:"field  w-full px-3 py-2 border border-gray-300 rounded-md " }}
                            <li class="  alert hidden text-[13px] text-red-600 ">• Email tidak valid</li>
                        </div>
                        <div>
                            {{ form.password|add_class:"field  w-full px-3 py-2 border border-gray-300 rounded-md " }}
                            <li class="  alert hidden text-[13px] text-red-600 ">• Password tidak valid</li>
                            {% if user_auth %}
                                <li class="  alert text-[13px] text-red-600 ">Email atau password salah</li>
                            {% endif %}
                            <div class="flex justify-between">
                                <div>
                                    <input type="checkbox" name="" id="show-password" class="show-password  focus:ring-0 focus:outline-none h-3 w-3 shadow-none ring-offset-0">
                                    <label for="show-password" class="text-[9px] md:text-sm">Tampilkan password</label>
                                </div>
                                <div>
                                    <a href="{% url "accounts:password_reset" %}" class="text-[9px] md:text-sm text-primary-vibrantGreen">Lupa password ?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <button type="submit" class="bg-primary-vibrantGreen font-semibold w-full h-9 text-white rounded-lg">Sign in</button>
                    </div>
                    <div class="flex justify-center text-sm h-14 items-center">
                        <p>Belum punya akun ? <a href="{% url "accounts:signup" %}" class="text-primary-vibrantGreen">Sign up</a></p>
                    </div>
                </form>
            </div>
            
        </div>
    </section>
{% endblock body %}

{% block end_body %}
    <script src="{% static "accounts/js/sign_in.js" %}"></script>



{% endblock end_body %}









