{% extends "account.html" %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
    <section class="h-[100vh] grid  place-items-center">
        <div class="h-auto bg-white shadow-custom-y w-[90%] md:w-[60%] lg:w-[30%] p-5">
            <div class="flex  items-center ">
                <a href="
                    {% if user.is_authenticated %}
                        {% url "user_profile:edit_profile"%}
                    {% else %}
                        {% url "accounts:signin"%}
                    {% endif %}
                ">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="2A3D66"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
                </a>
                <h1 class="text-xl font-semibold">Reset password</h1>
            </div>
            <br>
            <form action="" method="POST" class="pl-2 pr-2 grid gap-6" id="form">
                {% csrf_token %}
                <div>
                    {{ form.email|add_class:"w-full border-primary-navyblue border-2 rounded-md"}}
                    <span class="text-sm text-red-600 hidden " id="alert">Email tidak boleh kosong</span>
                </div>
                <button class="bg-primary-navyblue text-white h-9 rounded-md  w-full" >Kirim email </button>
            </form>
        </div>
    </section>
{% endblock body %}

{% block end_body %}
    <script src="{% static "accounts\js\reset_password.js" %}"></script>
{% endblock end_body %}







