{% extends "account.html" %}

{% block body %}
    <section class="grid place-items-center h-[100vh]">
        <div class="h-auto bg-white shadow-custom-y w-[90%] md:w-[60%] lg:w-[30%] p-5 grid">
            <h1>Password anda berhasil direset, silhkan login ulang </h1>
            <br> 
            <div class="flex w-full justify-center ">
                <a href="{% url "accounts:signin" %}" class="w-28 h-7 bg-primary-navyblue text-center text-white font-semibold rounded-md opacity-90 hover:opacity-100" >Login</a>

            </div>
        </div>
    </section>
{% endblock body %}



