{% extends "landing.html" %}
{% load static %}

{% block body %}
    <section class="h-[100vh] flex items-center ">
        <div class="grid gap-6">
            <div class="flex justify-center">
                <h1 class="text-primary-navyblue font-medium text-4xl md:text-5xl lg:text-6xl ">Tentang <span class="text-primary-vibrantGreen">kami</span></h1>
            </div>
            <div class="flex justify-center ">
                <p class="text-center w-[85%]">JokeHub adalah sebuah platform berbasis web  yang dikembangkan menggunakan Django sebagai backend utamanya. Proyek ini adalah proyek gabut dan juga bertujuan untuk menyediakan tempat bagi pengguna untuk berbagi dan menikmati berbagai macam jokes dari berbagai kategori. Dengan antarmuka yang sederhana namun menarik, JokeHub memberikan pengalaman yang menyenangkan bagi siapa saja yang ingin tertawa dan bersantai.</p>
            </div>
        </div>
    </section>
{% endblock body %}





